* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: "Alumni Sans", sans-serif;
    font-size: x-large;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 251, 251);
}

#logocosmica {
    display: block;
    margin: 0 auto;
    width: 10%;
}

.cabeçalho {
    background: #f4f4f4;
    padding: 2.7rem;
    background-color: #61806b;
    text-align: center;
    padding: 7%;
}
.mini-borda-1 {
    text-align: center;
    background-color: #61806b;
    color: rgb(255, 255, 255);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}

.mini-borda-1 li {
    margin-top: 10px;
}

.inicio {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0.1rem 0 0;
}

.inicio li {
    padding: 0 20px;
}

.inicio li img {
    width: 100px;
}

.inicio li a {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
    font-size: 25px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.inicio li a:hover {
    background-color: #4c6e59;
}
nav {
    flex-direction: column;
    display: flex;
    align-items: center;
}

section {
    margin: 100px;
    font-style: italic;
}

section h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
}

.paragrafo1 {
    margin-bottom: 15px;
}

.secao1 {
    background-image: url('imagens/calca_jeans.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

.titulo1 {
    color: #f4f4f4;
    display: flex;
    position: relative;
    top: 50px;
}

.texto {
    color: #f4f4f4;
    text-align: justify;
    margin-top: 15px;
    width: 60%;
}

.paragrafo2 {
    text-align: center;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagem1,
.imagem2,
.imagem3 {
    margin: 10px;
}

.img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.item {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.sinais p {
    font-size: 54px;
    margin: 5px 0;
    color: green;
}

footer {
    background-color: #61806b;
    padding: 20px;
}

footer p,
li,
h5 {
    color: #f4f4f4;
}

footer a {
    text-decoration: none;
    color: #f4f4f4;
    transition: background-color 0.3s ease, color 0.2s ease;
}

footer a:hover {
    background-color: rgba(59, 59, 59, 0.7);
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
}

.redes-sociais p {
    font-weight: bold;
}

.borda-final {
    padding: 10px;
    background-color: #738d7b;
}

.itens-final {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens-final ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.itens-final img {
    max-width: 230px;
    max-height: 30px;
    margin: 0 10px;
}

.logo-final {
    width: 90%;
}

.insta,
.whats {
    display: inline-block;
}

@media (max-width: 768px){

    *{
        margin: 0;
        padding: 0;
    }

    body {
        font-size: large;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .inicio li{
        margin: 0; 
    }

    .inicio{
    gap: 25px;
    display: flex;
    padding: 0;
    margin: 0.1rem 0 0;
    margin-top: 40px;
        
    }

    .item {
        flex-direction: row; 
        justify-content: space-between; 
        width: 100%; 
    }

    .imagem1, .imagem2, .imagem3 {
        width: 70%; 
    }

    .sinais p {
        font-size: 36px; 
    }

    .texto{
        width: 80%;
    }

    .borda-final{
        width: 100%;
    }
}



 

